boto3==1.4.1
botocore==1.4.78
click==6.6
docutils==0.12
Flask==0.11.1
Flask-SocketIO==2.8.0
futures==3.0.5
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
oauthlib==2.0.1
pysolr==3.6.0
python-dateutil==2.6.0
python-engineio==1.1.0
python-socketio==1.6.1
requests==2.12.1
requests-oauthlib==0.7.0
s3transfer==0.1.9
six==1.10.0
tweepy==3.5.0
watson-developer-cloud==0.22.0
Werkzeug==0.11.11
