<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Twitter Trend</title>
    <style>
        html, body{
            height: 100%;
        }
        #map {
            height: 100%;
        }
    </style>

    <!-- Bootstrap core CSS and JQuery-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <style type="text/css">

        #topNavbar {
            margin-bottom: 0px;
        }
    </style>
</head>

<body>

<!-- Static navbar -->
<nav id="topNavbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TweetTrend</a>
        </div>
            
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Reload</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Please select keyword <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript: queryKeyWord('');">Clear Search</a></li>
                        <li><a href="javascript: queryKeyWord('Restaurant');">Restaurant</a></li>
                        <li><a href="javascript: queryKeyWord('Basketball');">Basketball</a></li>
                        <li><a href="javascript: queryKeyWord('Weather');">Weather</a></li>
                        <li><a href="javascript: queryKeyWord('Friday');">Friday</a></li>
                        <li><a href="javascript: queryKeyWord('Cloud');">Cloud</a></li>
                        <li><a href="javascript: queryKeyWord('Movie');">Movie</a></li>
                        <li><a href="javascript: queryKeyWord('Panda');">Panda</a></li>
                        <li><a href="javascript: queryKeyWord('God');">God</a></li>
                        <li><a href="javascript: queryKeyWord('Trump');">Trump</a></li>
                        <li><a href="javascript: queryKeyWord('Hilarious');">Hilarious</a></li>
                    </ul>
                </li>
                
            </ul>
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control" id="keyword" placeholder="Type Keyword">
                <button type="button" class="btn btn-default" id="searchButton">Search</button>
            </form>
            
        </div>

    </div>
</nav>


<div id="map"></div>

<script>
    var socket;
    // var interval;
    // var timeInterval = 5000;
    function initMap() {

        // Init google map
        var columbia = {lat: 40.806, lng: -73.963};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 3,
            center: columbia
        });

        // An array to store all markers
        var googleMarkers = [];

        // Establish socket connection
        //socket = io.connect('http://' + document.domain + ':' + location.port);
        socket = io.connect(null, {port: location.port, rememberTransport:false});

        socket.on('connect', function(){
            // setUpMap();
            console.log('Init');
        });
        socket.on('realTimeResponse', function(tweet) {
            console.log("New Tweet");
            var tweetJSON = JSON.parse(tweet);
            var location = tweetJSON['location'];
            var sentiment = tweetJSON['sentiment'];
            console.log("got location and setiment");


            var icon;
            if (sentiment == 'positive') {
                icon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
            } else if (sentiment == 'negative') {
                icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
            } else {
                icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
            }

            var markerPosition = {lat: location[1], lng: location[0]};

            var marker = new google.maps.Marker({
                position: markerPosition,
                icon: icon,
                map: map
            });
            // Add markers to the array
            googleMarkers.push(marker);
        });


        
        socket.on('message', function(tweets){
                  console.log("query Tweet");

                  // Clear Map
                  clearMarkers(googleMarkers);

                  // Parse JSON
                  var tweetsJSON = JSON.parse(tweets);


                  // Parse every tweet in tweetsJSON
                  for (var x in tweetsJSON) {
                      var location = tweetsJSON[x]['location'];
                      
                      var sentiment = tweetsJSON[x]['sentiment'];
                      console.log("got location and setiment");

                      var icon;
                      // Change color based on sentiment
                      if (sentiment == 'positive') {
                          icon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
                      } else if (sentiment == 'negative') {
                          icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
                      } else {
                          icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
                      }

                      var markerPosition = {lat: location[1], lng: location[0]};

                      var marker = new google.maps.Marker({
                          position: markerPosition,
                          icon: icon,
                          map: map
                      });

                      // Add markers to the array
                      googleMarkers.push(marker);
                  }
              });
          }

    // Function used to set up the map
    // function setUpMap(){
    //     clearInterval(interval);
    //     sendSocketMessage("Init");
    //     interval = setInterval(sendSocketMessage, timeInterval, "Init");
    // };

    // Send key selected key word to back end, using it to search for tweets
    function queryKeyWord(selectedWord){
        console.log(selectedWord);

        // clearInterval(interval);

        sendSocketMessage(selectedWord);

        // interval = setInterval(sendSocketMessage, timeInterval, selectedWord);
    };


    // clear all markers
    function clearMarkers(googleMarkers){
        for(var i = 0; i < googleMarkers.length; i++){
            googleMarkers[i].setMap(null);
        }
        googleMarkers.length = 0;
    }

    // send socket message
    function sendSocketMessage(message){
        socket.send(message);
        console.log("Message Sent");
    }

    // handling the search
    $('#searchButton').on('click', function(){
        // clearInterval(interval);
        var keyWord = $('#keyword').val();
        sendSocketMessage(keyWord);
        // interval = setInterval(sendSocketMessage, timeInterval, keyWord);
    });

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7HpBJ6pCZGP7tjZd8nqUXqKjiZZ-zQ0M&callback=initMap">
</script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</body>
</html>
